@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

.debt-info{
  text-align: center;
}
.records{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
td,th{
  border-bottom: 1px solid black;
}
tr:nth-child(even) {
  background-color: #83e4aa;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover{
  color:#f1356d;
}

.content {
  display: flex;
  justify-content:center;
  width: 100%;
  margin: auto;
  padding: 0px;
}

.centered{
  text-align: center;
}


.form {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.form label {
  text-align: left;
  display: block;
}

.form input, .form select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.form button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}